body {
            display: flex;
            flex-direction: column;
            background-color: #c3c3c3;
            gap: 15px;
        }

        .title {
            color: #777777;
            padding: 8px;
            text-align: center;
        }

        .form-control {
            padding: 20px;
            border-radius: 10px;
            background-color: white;
            display: flex;
            flex-direction: column;
            width: fit-content;
            margin: 0 auto;
            gap: 15px;
            box-shadow: 4px 4px 32px white;
        }

        .form-control label {
            color: #777777;
            font-weight: 600;
            outline: none;
        }

        .form-control textarea {
            width: 500px;
            border: none;
            resize: none;
            font-size: 14px;
            color: #777777;
        }

        .form-control textarea:focus {
            border: none;
            outline: none;
        }

        .button {
            padding: 8px;
            cursor: pointer;
            border: none;
            background-color: white;
            border-radius:  10px;
            box-shadow: 2px 2px 18px #777777;
            font-size: 16px;
            font-weight: 500;
            color: #777777;
        }

        .button {
            outline: none;
            border: none;
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 23px;
            text-align: right;
            color: #777777;
        }

        .inner-footer {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        .result_container {
            display: flex;
            color: #777777;
            flex-direction: column;
            border-top: 1px solid #777777;
            border-bottom: 1px solid #777777;
            padding: 23px;
            gap: 10px;
        }

        .result_container div {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .result_container div > * {
            align-items: center;
        }

        .result_container p {
            margin: 0;
        }